{% extends "base.html" %}
{% block title %}Baby categories{% endblock %}
{%block content %}

<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .category-container {
            display:flex;
            flex-direction: column;
        }
    .category-box {
        width: 10%;
        margin: 5px;
        padding:10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: pointer;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }
    .category-boc:hover {
        background-color: #ddd;
    }
    /* Style the content display */
    #content {
        margin-top: 20px;
        padding: 15px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }
</style>

    <h2 align="center">Category: Infant Of Diabetic Mother</h2>

    <h3>Baby ID:</h3>
<div>
    <a href="{{ url_for('auth.plot') }}" class="category-box">Baby B ID</a>
</div>

    <br />
    <a href="{{ url_for('auth.baby_categories', back_to_baby_cat=True) }}">Back</a>

<h1></h1>
{% endblock %}