{% extends "base.html" %}
{% block title %}Baby categories{% endblock %}
{%block content %}
<style>
    .category-container {
        display:flex;
        flex-direction: column;
    }
    .category-box {
        width: 10%;
        margin: 5px;
        padding:10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: pointer;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }
    .category-box:hover {
        background-color: #ddd;
    }
    /* Style the content display */
    #content {
        margin-top: 20px;
        padding: 15px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }
</style>
<!-- Header and subheadder -->
    <h2 align="center">Category: Small Baby</h2>

    <h3>Baby ID:</h3>

    <!-- Link to plot page with a category box -->
<div>
    <a href="{{ url_for('views.plot') }}" class="category-box">Baby C ID</a>
    {% for baby in babies %}
    <a href="{{ url_for('views.plot') }}" class="category-box">NIGEL No. {{ baby.nigel_number }} (born {{ baby.dob }})</a>
    {% endfor %}
</div>

    <br />
    <!-- Link to baby_category page when press back button -->
    <a href="{{ url_for('views.baby_categories', back_to_baby_cat=True) }}">Back</a>

<h1></h1>
{% endblock %}