<!-- Extending the base template for consistent styling and structure -->
{% extends "base.html" %}

 <!-- Title for the page -->
{% block title %}Add baby info{% endblock %}

<!-- Form for adding medical history and glucose-related information -->
{% block content %}
<form method="POST">

<!-- Heading and subheading for adding baby information -->
    <h2 align="center">Add baby information</h2>
</div>

    <h3 align="left">Medical History</h3>
    </div>

<!-- Input field for Gestational Age -->
<div class="form-group">
    <label for="gAge">Gestational Age</label>
    <input type="number" class="form-control" id="gAge" name="3a. Gestational Age" placeholder="Enter Baby's gestational age"value="{{ medical_history.get('3a. Gestational Age')}}"
    />
</div>

 <!-- Input field for Existing Medical Conditions -->
    <div class="form-group">
  <label for="medCond">Existing Medical Conditions:</label>
  <input type = "text" class="form-control" id="medCond" name="3b. Existing Medical Conditions" value="{{ medical_history.get('3b. Existing Medical Conditions')}}"
  />
</div>

<!-- Input field for Current In-use Medications -->
    <div class="form-group">
  <label for="currentMed">Current In-use Medications:</label>
  <input type = "text" class="form-control" id="currentMed" name="3c. Current In-use Medications" value="{{ medical_history.get('3c. Current In-use Medications')}}"
  />
</div>

<!-- Subheading for glucose-related information section -->
<h3 align="left">Glucose Related Information</h3>
    </div>

<!-- Input field for selecting Baby Category -->
        <div class="form-group">
        Baby Category: </label>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="premature" name="4a. Baby Category" value="premature"
                   {% if medical_history.get('4a. Baby Category') == 'premature' %}checked{% endif %}>
            <label class="form-check-label" for="premature">Premature</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="matDiabetic" name="4a. Baby Category" value="matDiabetic"
             {% if medical_history.get('4a. Baby Category') == 'matDiabetic' %}checked{% endif %}>
            <label class="form-check-label" for="matDiabetic">Maternal Diabetic</label>
        </div>
            <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="small" name="4a. Baby Category" value="small"
             {% if medical_history.get('4a. Baby Category') == 'small' %}checked{% endif %}>
            <label class="form-check-label" for="small">Small Baby</label>
        </div>
    </div>

 <!-- Input field for Additional Comments -->
        <div class="form-group">
  <label for="addComment">Additional Comment:</label>
  <input type="text" class="form-control" id="addComment" name="5a. Additional Comments" value="{{ medical_history.get('5a. Additional Comments')}}"></input>
</div>

    <br />
 <!-- Submit button for form submission -->
    <button type="submit" class="btn btn-primary">Save and Continue</button>
</form>
<h1></h1>
{% endblock %}