{% extends "base.html" %}
{% block title %}Add baby info{% endblock %}
{% block content %}
<form method="POST">
    <h2 align="center">Add baby information</h2>
    </div>

    <h3 align="left">Medical History</h3>
    </div>
    <div class="form-group">
        <label for="gAge">Gestational Age</label>
        <input
            type="number"
            class="form-control"
            id="gAge"
            name="g_age"
            placeholder="Enter Baby's gestational age"value="{{ medical_history.get('g_age')}}"
            required
        />
    </div>

    <div class="form-group">
        <label for="medCond">Existing Medical Conditions:</label>
        <input
            type = "text"
            class="form-control"
            id="medCond"
            name="med_conds"
            value="{{ medical_history.get('med_conds')}}"
        />
    </div>

    <div class="form-group">
        <label for="currentMed">Current In-use Medications:</label>
        <input
            type = "text"
            class="form-control"
            id="currentMed"
            name="curr_meds"
            value="{{ medical_history.get('curr_meds')}}"
        />
    </div>

    <h3 align="left">Glucose Related Information</h3>
        </div>
            <div class="form-group">
            Baby Category: </label>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="premature" name="category" value="premature" required
                    {% if medical_history.get('category') == 'premature' %}checked{% endif %}>
                <label class="form-check-label" for="premature">Premature</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="matDiabetic" name="category" value="matDiabetic" required
                {% if medical_history.get('category') == 'matDiabetic' %}checked{% endif %}>
                <label class="form-check-label" for="matDiabetic">Maternal Diabetic</label>
            </div>
                <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="small" name="category" value="small" required
                {% if medical_history.get('category') == 'small' %}checked{% endif %}>
                <label class="form-check-label" for="small">Small Baby</label>
            </div>
        </div>
            <div class="form-group">
    <label for="addComment">Additional Comment:</label>
    <input type="text" class="form-control" id="addComment" name="comments" value="{{ medical_history.get('comments')}}"></input>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save and Continue</button>
</form>
{% endblock %}