{% extends "base.html" %}
{% block title %}Add baby info{% endblock %}
{% block content %}
<form method="POST">
    <h2 align="center">Add baby information</h2>
</div>

    <h3 align="left">Basic Information</h3>
    </div>
<div class="form-group">
    <label for="nigel">NIGEL Number </label>
    <input type="number" class="form-control" id="nigel" name="1a. NIGEL Number" placeholder="Enter NIGEL Number"value="{{ baby_information.get('1a. NIGEL Number')}}"
    />
</div>

    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="female" name="1b. Gender" value="female"
               {% if baby_information.get('1b. Gender') == 'female' %}checked{% endif %}>
        <label class="form-check-label" for="female">Female</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="male" name="1b. Gender" value="male"
               {% if baby_information.get('1b. Gender') == 'male' %}checked{% endif %}>
        <label class="form-check-label" for="male">Male</label>
    </div>
        </div>

     <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="1c. Date of Birth" value="{{ baby_information.get('1c. Date of Birth')}}"
        />
    </div>


<div class="form-group">
    <label for="birthWeight">Birth Weight (grams)</label>
    <input type="number" class="form-control" id="birthWeight" name="1d. Birth Weight" placeholder="Enter Birth Weight" value="{{ baby_information.get('1d. Birth Weight')}}"
    />

</div>

    <div class="form-group">
    <label for="birthLength">Birth Length (cm)</label>
    <input type="number" class="form-control" id="birthLength" name="1e. Birth Length" placeholder="Enter Birth Length" value="{{ baby_information.get('1e. Birth Length')}}"
    />
</div>


    <h3 align="left">Information of doctor in charge</h3>
    <div class="form-group">
        <label for="doctorName">Doctor Name</label>
        <input type="text" class="form-control" id="doctorName" name="2a. Doctor Name" placeholder="Enter doctor in charge" value="{{ baby_information.get('2a. Doctor Name')}}"
        />
    </div>

    <div class="form-group">
        <label for="doctorEmail">Doctor Email</label>
        <input type="email" class="form-control" id="doctorEmail" name="2b. Doctor Email" placeholder="Enter internal email address of doctor in charge" value="{{ baby_information.get('2b. Doctor Email')}}"
        />
    </div>

    <div class="form-group">
        <label for="doctorNum">Doctor Number</label>
        <input type="tel" class="form-control" id="doctorNum" name="2c. Doctor Contact Number" placeholder="Enter emergency contact number of doctor in charge" value="{{ baby_information.get('2c. Doctor Contact Number')}}"
        />
    </div>


    <br />
    <button type="submit" class="btn btn-primary">Save and Continue</button>
</form>
<h1></h1>
{% endblock %}