<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        <!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="center_userpass_group" style="padding-top: 5%;">
                <div class="user_pass_group">
                    <span class="user_pass_text">Username</span>
                    <input class="text_box" />
                </div>
                <div class="user_pass_group" style="padding-top: 0%;">
                    <span class="user_pass_text">Password</span>
                    <input class="text_box" type="password" />
                </div>
                <span class="forgot_pass_text">Forgot password ? Click here to reset</span>
                <button class="login_button">
                    Login
                </button>
            </div>   
            <div style="display: flex ; flex-direction: row ; align-items: center ; justify-content:center; margin-top: 2.5%;">
                <div class="line"></div> 
                <span class="or_">or</span>
                <div class="line" style="left:43%"></div>
            </div>
            <div style="display: flex ; flex-direction: row ; align-items: center ; justify-content:center; margin-top: 1.5%;">
                <span class="alt_text">Don't have an account? </span>
                <span class="alt_text" style="margin-left:1% ; color: rgba(0,164,216);">Create an account</span>
            </div>

        </div>
    </body>
</html>

<!--
*My notes*    
Most components have an opening and closing tag, e.g.
  <div> content goes inside </div>
    ^opening tag              ^closing tag

Sometimes, opening and closing are done in a single tag, e.g.
  <link href="myurliscool.com" />
                               ^this / character closes the tag

-->