{% extends "base.html" %}
{% block title %}Baby categories{% endblock %}
{%block content %}
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        .category-container {
            display:flex;
            flex-direction: column;
        }
    .category-box {
        width: 10%;
        margin: 5px;
        padding:10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: pointer;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }
    .category-boc:hover {
        background-color: #ddd;
    }
    /* Style the content display */
    #content {
        margin-top: 20px;
        padding: 15px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }
</style>

<form method="POST">

    <h2 align="center">Category: Small Baby</h2>
</div>

    <h3>Baby List:</h3>
    </div>

    <div class="category-container">
        <a class="category-box">Baby A</a>
        <a class="category-box">Baby B</a>
        <a class="category-box">Baby C</a>

   </div>

</form>
<h1></h1>
{% endblock %}